@model IEnumerable<OrderHeader>

@{
    ViewData["Title"] = "Index";
}


<table class="table table-striped pt-2" id="myTable">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            <th>
                    @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-outline-danger" asp-action="Detail" asp-route-orderId="@item.Id">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="btn btn-outline-warning mx-1" asp-action="Delete" asp-route-orderId="@item.Id"
                       onclick="return confirm('Confirm delete')">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
}
